.column-title-container {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.column-category {
  color: red;
  margin-right: 5px;
}
.column-title {
  margin-top: 5px;
  font-size: 15px;
}
.column-writer-container {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-writer-data {
  display: flex;
  align-items: center;
}

.column-writer-data img {
  border-radius: 50%;
  border: lightgray 1px solid;
  width: 20px;
  height: 20px;
}
.column-writer {
  margin-left: 5px;
  font-size: 13px;
}

.column-update-date {
  font-size: 13px;
  color: gray;
}
