.newPasswordScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.newPasswordBottomPart {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.passwordConfirmButton {
  width: 80%;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-chocolate);
  color: white;
  border-radius: 5px;
}
.inactivePasswordConfirmButton {
  width: 80%;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  border-radius: 5px;
}
