.inputContainer {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 60px;
}
.inputTitle {
  width: 150px;
  padding: 5px 0px 5px 5px;
  font-size: 15px;
}
.inputDatas {
  margin-left: 40px;
}

.inputData {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.inputDataTitle {
  min-width: 120px;
  width: 120px;
  font-size: 16px;
}

.inputNumber {
  width: 100px;
  padding: 3px 0px 3px 3px;
  font-size: 15px;
}
.inputDescription {
  width: 450px;
  padding: 3px 0px 3px 3px;
  font-size: 15px;
}
.inputButtons {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.inputCancleButton {
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  border: 1px solid black;
  color: black;
  margin-right: 10px;
  cursor: pointer;
}

.inputSubmitButton {
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  background-color: var(--color-button);
  border: 1px solid var(--color-button);

  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.inputDataDescription {
  font-size: 15px;
  color: gray;
  margin-left: 20px;
}
