.IETextContainer {
  margin-top: 50px;
}

.IEText {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: pre-wrap;
  font-size: medium;
}
.browserIcons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.browserIcons img {
  width: 12%;
  height: auto;
}
