.conceptmodal {
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.concepttrueModal {
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 0px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conceptModalContents {
  margin: 0 auto;
  padding-left: 7%;
  padding-right: 7%;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.topBarContainer {
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  font-size: 45px;
  justify-content: space-between;
  align-items: center;
}
.studioTitle {
  font-size: 18px;
  font-weight: bold;
}
.mainPhotoArea {
  width: 100%;
  overflow: hidden;
}

.mainPhotoArea img {
  width: 100%;
  height: auto;
}
.toStudioInfoContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  align-items: center;
}
.toStudioInfo {
  width: 75%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--color-chocolate);
  font-size: 15px;
  font-weight: normal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.nextArrowContainer {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-43%);
  z-index: 100;
}
.nextButton {
  transform: scale(1.5, 5);
  color: rgba(0, 0, 0, 0.2);
}
.prevArrowContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-57%);
  z-index: 100;
}
.prevButton {
  transform: scale(1.5, 5);
  color: rgba(0, 0, 0, 0.2);
}

.conceptFilledHeart {
  margin-left: 10px;
  margin-top: 3px;

  color: red;
  font-size: 28px;
}
.conceptRegHeart {
  margin-left: 10px;
  margin-top: 3px;
  font-size: 28px;
}
.whileLoading {
  height: 100%;
  display: flex;
  align-items: center;
}
