.conceptmodal {
  z-index: 50;
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.concepttrueModal {
  width: 100vw;
  max-width: 470px;
  height: 100vh;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 0px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conceptModalContents {
  margin: 0 auto;
  padding-left: 7%;
  padding-right: 7%;
  position: relative;
  box-sizing: border-box;
  align-items: center;
}

.topBarContainer {
  margin-bottom: -10px;
  padding-top: 5px;

  padding-right: 5px;
  padding-left: 5px;
  display: flex;
  font-size: 45px;
  justify-content: space-between;
  align-items: center;
}
.studioTitle {
  font-size: 18px;
  font-weight: bold;
}

.mainPhotoArea {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: auto;
}

.mainPhotoArea img {
  width: 95%;
  height: auto;
  max-height: -moz-calc(100vh - 115px);
  max-height: -webkit-calc(100vh - 115px);
  max-height: calc(100vh - 115px);
  object-fit: contain;
}

.toStudioInfoContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  align-items: center;
}
.toStudioInfo {
  width: 75%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--color-chocolate);
  font-size: 15px;
  font-weight: normal;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 32px;
}
.nextArrowContainer {
  position: absolute;
  cursor: pointer;

  top: 50%;
  right: 10%;
  transform: translateY(-43%);
  z-index: 100;
}
.nextButton {
  transform: scale(1.5, 5);
  color: rgba(0, 0, 0, 0.2);
}
.prevArrowContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-57%);
  z-index: 100;
  cursor: pointer;
}
.prevButton {
  transform: scale(1.5, 5);
  color: rgba(0, 0, 0, 0.2);
}

.conceptFilledHeart {
  margin-left: 10px;
  color: var(--color-heartColor);
  cursor: pointer;

  font-size: 28px;
  margin-bottom: 32px;
  margin-top: 5px;
}
.conceptRegHeart {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 32px;
}
.whileLoading {
  display: flex;
  align-items: center;
}

.gettingHeart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conceptModalClose {
  cursor: pointer;
}

.transparentModal {
  background-color: none;
}
