.column-navigator {
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
}

.column-navigator-type-selected {
  display: flex;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  border-radius: 15px;

  padding: 10px 15px 10px 15px;

  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.column-navigator-type-unselected {
  padding: 10px 15px 10px 15px;

  font-size: 15px;
  font-weight: normal;
  color: gray;
  cursor: pointer;
}
