.loginInputField {
  display: flex;
  align-items: center;
  z-index: 35;
  justify-content: center;
}
.loginInput {
  padding-left: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 0.5px solid var(--color-loginGray);
  margin-right: 5px;
  font-size: 18px;
  width: 80%;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-loginGray);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-loginGray);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-loginGray);
}
