.changePasswordContainer {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
.changePassword {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.passwordChangeInput {
  width: 200px;
  font-size: 20px;
}
.passwordWarning {
  color: red;
  font-size: 12px;
  width: 500px;
}

.changePasswordLine {
  display: flex;
  align-items: center;
}

.changePasswordText {
  width: 150px;
}
