.passwordCompleteModal {
  padding: 30px 40px 20px 40px;
  font-size: 16px;
}

.passwordCompleteButtonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.passwordCompleteButton {
  background-color: var(--color-button);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}
