.myStudioStatsTitle {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}

.myStudioCurrentStats {
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.durationNavigatorContainer {
  margin: 20px 0 0 20px;
}

.durationNavigator {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.selectedDurationPicker {
  padding: 3px 20px 3px 20px;
  font-size: 14px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
}

.unselectedDurationPicker {
  padding: 3px 20px 3px 20px;
  font-size: 14px;
  border: 1px solid gray;
  background-color: var(--color-background);
  cursor: pointer;
}
