.mainConcpetsView {
  padding-bottom: 20px;
}

.mainConcpetsView ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: space-evenly;
}
.mainConcpetsView ul li {
  display: flex;
  justify-content: center;
}
