.noticeItem {
  display: block;
  width: 100%;
  height: 13px;
  background-color: white;
  color: black;
  font-size: 13px;
  text-align: left;
}
.greyBox {
  width: 100%;
  height: 14px;
  background-color: var(--color-greyBox);
  margin-bottom: 10px;
}
.noticeHeader {
  margin-left: 15px;
  font-weight: bold;
  font-size: 15px;
  color: black;
}
.noticeBackground {
  background-color: white;
}

.noticeTitles {
  transform: translateY(1px);
  margin-left: 10px;
  display: inline-block;
}
.noticeContainer {
  margin-bottom: 10px;
}
