.header {
  border-bottom: 1px solid var(--color-line);
  height: 55px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 1000;
}

.header__logo {
  text-align: center;
  margin-top: 8px;
}

.header__logo img {
  width: 40%;
}
