.loadingComponent {
  animation: rotate_image 1s linear infinite;
  transform-origin: 50% 50%;
}
.loadingComponentContainer {
  width: 100%;
  height: 100vh;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
