.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}

.title {
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
}

.showMore {
  font-size: 12px;
  color: var(--color-showMore);
  text-align: right;
  margin-right: 30px;
}
