:root {
  --color-line: #e3e3e3;
  --color-showMore: #505050;
  --color-greyBox: #f2f2f2;
  --color-footer: #848484;
  --color-chocolate: #443731;
  --color-loginGray: #afafaf;
}
[role='navigation'] {
  overflow: auto !important;
}
