.totalItemContainer {
  padding-left: 4vw;
  padding-right: 4vw;
}

.categoryTitle {
  margin-top: 25px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}
