.placeText {
  margin-top: 15px;
  margin-left: -3px;
  padding-left: 3px;
  margin-right: -3px;

  font-size: 13px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  border-bottom: 1px solid lightgray;
  align-items: center;
}
.dayContainer {
  display: flex;
  justify-content: flex-end;
}
.whichDay {
  margin-right: 11px;
  display: flex;
  width: 90px;
  justify-content: space-between;
  font-size: 11px;
  color: var(--color-footer);
}

.photoItemContainer {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 7px;

  padding-top: 13px;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgray;
}

.photoItemTitle {
  font-weight: bold;
  font-size: 14px;
}

.photoItemInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.photoItemTopPart {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.itemUpper {
  margin-top: 6px;
  font-size: 11px;
}
.itemUnder {
  margin-top: 5px;
  font-size: 10px;
}

.photoItemrightPart {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}
.photoItemPrice {
  margin-left: 5px;
  display: flex;
  width: 60px;
  justify-content: flex-end;
}

.photoItemBottomPart {
  color: var(--color-footer);
  font-size: 9px;
  margin-top: 5px;
  margin-bottom: -6px;
}

.itemNotice {
  font-size: 10px;
  margin-top: 3px;
  margin-left: -3px;
  padding-left: 1px;
}
