.studioAddressDiv {
  margin-top: 10px;
  font-size: 13px;
}

.branchCountText {
  margin: 0 5px 5px 0;
  font-size: 10px;
  text-align: end;
}

.studioAddressLabel {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 10px;
}

.studioAddressText {
  color: var(--color-showMore);
}

.MapTotalContainer {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
}
