.linksContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.linksBox {
  width: 88%;
  height: 35px;
  border: 1px solid var(--color-loginGray);
  border-radius: 5px;
  display: flex;
}

.contactLink {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-right: 1px solid var(--color-loginGray);
}
.reservationLink {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
