.seeMoreCardContainer {
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 3px 6px gray;
  margin-left: 9px;
  margin-right: 1px;
  flex: 0 0 auto;
  cursor: pointer;
}

.seeMoreCardContainer img {
  width: 160px;
  height: 200px;
  object-fit: cover;
}
.seeMoreStudioInfoBox {
  position: absolute;
  left: 0;
  height: 20px;
  bottom: 1px;
  width: 100%;
  text-align: end;
}
.seeMoreStudioName {
  color: white;
  margin-right: 9px;
  font-size: 12px;
  text-shadow: 1px 1px 1px black;
}
