.studioInfoTitleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  margin-top: 10px;
}

.studioLogo {
  width: 70px;
  border-radius: 50%;
}

.stuioInfoTitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
