.topNavigator {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
}
.selectedItem {
  font-weight: bold;
  font-size: 15px;
  color: var(--color-chocolate);
}
.unselectedItem {
  font-size: 15px;
}

.reviewCount {
  margin-left: 4px;
  font-size: 12px;
  color: gray;
}
