.seeMoreStudioArrowContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-right: -10px;
  width: 100px;
  height: 100%;
}

.seeMoreStudioMain {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.seeMoreStudioArrow {
  font-size: 35px;
}
