.dashboardMyCustomerContainer {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
}
.mycustomerTitleContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 20px 25px;
  border-bottom: var(--color-linecolor) 1px solid;
  align-items: baseline;
}
.mycustomerTitle {
  display: flex;
  align-items: baseline;
}
.mycustomerUpdateText {
  color: gray;
  font-size: 14px;
  margin-left: 10px;
}
.showstatsText {
  font-size: 14px;
  color: gray;
  cursor: pointer;
}
.mycustomerDataContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.mycustomerStat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  padding-right: 15px;
  border-right: var(--color-linecolor) 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
}
.mycustomerStatLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: baseline;
}
.mycustomerStatTitle {
  font-size: 16px;
  margin-left: 5px;
}
.mycustomerNumber {
  font-size: 19px;
  font-weight: bold;
  color: var(--color-blue);
}
.mycustomerNumberText {
  margin-left: 2px;
  font-weight: normal;
  color: black;
  font-size: 16px;
}
.myCustomerChart {
  width: 60%;
  height: 200px;
}
