.conceptListScreen {
  position: relative;
}

.totalConcept {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.endMessageContainer {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.sortIcon {
  cursor: pointer;

  display: flex;
  position: absolute;
  z-index: 35;
  right: 20px;
  top: 17px;
  align-items: center;
}
.sortIconText {
  padding-top: 1px;
  padding-right: 5px;
  font-size: 12px;
}
