.reviewListTopContainer {
  width: 100%;
  max-width: 470px;
  border-bottom: 1px solid var(--color-line);
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 30;
  justify-content: space-between;
}
.reviewSortButtonContainer {
  width: 100%;
  margin-left: 20px;
}

.reviewPart {
  padding-left: 4vw;
  padding-right: 4vw;
}

.seeMoreReviewContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 10px;
}
.seeMoreReview {
  cursor: pointer;

  display: flex;

  justify-content: center;
  border-radius: 5px;
  align-items: center;
  width: 150px;
  height: 30px;
  border: 1px solid gray;
}
