.conceptListScreen {
  position: relative;
}

.totalConcept {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.endMessageContainer {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sortIcon {
  display: flex;
  position: absolute;
  z-index: 35;
  right: 20px;
  top: 17px;
}
