.fullReviewTopPart {
  margin-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.fullratingAndStudio {
  display: flex;
  align-items: center;
}
.fullReviewStudio {
  font-size: 12px;
}

.fullReviewUserName {
  font-size: 14px;
  font-weight: bold;
}
