.loginBackArrow {
  font-size: 25px;
  margin-left: 18px;
  margin-top: 25px;
}
.loginTitle {
  margin-top: 15px;
  margin-left: 8%;
  font-size: 22px;
  font-weight: bold;
}

.loginEmailText {
  font-size: 12px;
  margin-top: 25px;
  margin-left: 10%;
  color: var(--color-loginGray);
  margin-bottom: 10px;
}
