.noticeBodyPart {
  margin-left: 30px;
  margin-right: 30px;
}
.fullNoticeTitle {
  text-align: center;
  font-size: 17px;
}
.fullNoticeDate {
  margin-top: 5px;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
}

.fullNoticeText {
  margin-top: 10px;
  font-size: 15px;
  white-space: pre-wrap;
  line-height: 1.75em;
}

.fullNoticeImg {
  width: 100%;
  height: auto;
}
