.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: auto;
  margin-right: 5px;
}

.studioListScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 10;
}

::-webkit-scrollbar {
  display: none;
}
