.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: auto;
  margin-top: 5px;
  margin-right: 5px;
}
.studioListScreen {
  position: relative;
}

.loadNeerStudio {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
