.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: auto;
  margin-top: 5px;
  margin-right: 5px;
}
.studioListScreen {
  position: relative;
}

.loadNeerStudio {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.studio-list-premium-studio-container {
  padding: 15px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.studio-list-premium-studio {
  font-size: 14px;
}
.studio-list-sponsored {
  font-size: 10px;
  color: gray;
}
